<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/olympics_db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">Nemanja</property>
    <property name="hibernate.connection.password">Olovcica1</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="hibernate/mappings/Sport.hbm.xml"/>
    <mapping resource="hibernate/mappings/SportDiscipline.hbm.xml"/>
    <mapping resource="hibernate/mappings/RioSport.hbm.xml"/>
    <mapping resource="hibernate/mappings/SportsmanDiscipline.hbm.xml"/>
    <mapping resource="hibernate/mappings/RioSportDiscipline.hbm.xml"/>
    <mapping resource="hibernate/mappings/Sportsman.hbm.xml"/>
    <mapping resource="hibernate/mappings/User.hbm.xml"/>
    <mapping resource="hibernate/mappings/Country.hbm.xml"/>
    <mapping resource="hibernate/mappings/Team.hbm.xml"/>
    <mapping resource="hibernate/mappings/Competition.hbm.xml"/>
    <mapping resource="hibernate/mappings/QualifyingGroup.hbm.xml"/>
    <mapping resource="hibernate/mappings/Game.hbm.xml"/>
    <mapping resource="hibernate/mappings/Round.hbm.xml"/>
    <mapping resource="hibernate/mappings/EliminationRound.hbm.xml"/>
    <mapping resource="hibernate/mappings/Team_QualifyingGroup.hbm.xml"/>
    <mapping resource="hibernate/mappings/Sportsman_QualifyingGroup.hbm.xml"/>
    <mapping resource="hibernate/mappings/Record.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
